*,
*::before,
*::after {
  margin:0; padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
  backface-visibility: hidden;
}

.container {
  min-height:100vh; width:100vw;
  background-color: #111;
  padding: 100px;
  display:flex; justify-content: center;align-items: center; flex-wrap:wrap;
}

.card {
  position: relative;
  width:300px; height:400px;
  margin: 20px 50px;
  background-color: #111;
  display:flex; align-items:center; justify-content:center;
  transition: all .3s;

  -webkit-box-reflect: below -2px linear-gradient(to top, currentColor, transparent, transparent, transparent, transparent, transparent, transparent); 
}
.card:hover {transform: translateY(-50px); }
.card::before,
.card::after {
  content: '';
  position: absolute;
  height:100%; width:100%;
  background-image: linear-gradient(45deg, #ff5c33, #ff3385);
}
.card::after { filter:blur(8px);}
.card:nth-child(2)::before,
.card:nth-child(2)::after { background-image:linear-gradient(-45deg, #33adff, #33ffff); }
.card:nth-child(3)::before,
.card:nth-child(3)::after { background-image:linear-gradient(-135deg, #4dff03, #33ffff); }

span {
  position:absolute; top:4px;right:4px;bottom:4px;left:4px;
  background-color: rgba(0,0,0, .6);
  z-index: 10;
}
span::before {
  content: '';
  position: absolute;
  height:100%; width:50%;
  background-color: rgba(255,255,255, .05);
  poienter-events: none;
}

.content {
  z-index: 100;
  padding: 20px 35px;
}

h1 {
  top:10px;
  text-align: center;
  color: #eee;
  margin-bottom: 10px;
  font-size: 30px;
  text-transform: capitalize
}

h3 {
  color: #ccc;
  
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.btn {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: none;
  padding: 25px 75px;
  margin: 30px;
}

.btn a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .3s ease-in-out;  
  backdrop-filter: blur(15px)
}

.btn:hover a {
  letter-spacing: 3px;
}

.btn a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: 
    linear-gradient(to left, rgba(255, 255, 255, .15), transparent);
  transform: skewX(40deg) translateX(0);
  transition: all .5s ease-out;
}

.btn:hover a::before {
  transform: skewX(40deg) translateX(200%);
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 10px;
  border-radius: 10px;
  background: #f00;
  transition: all .4s ease-in-out;
  transition-delay: 0s;
}

.btn::before {  
  bottom: -5px;
}

.btn::after {
  top: -5px;
}

.btn:hover::before,
.btn:hover::after{  
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: .3s;
}

.btn:hover::before {
  bottom: 0;
}

.btn:hover::after {
  top: 0;
}
.btn1 {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: none;
  padding: 25px 75px;
  margin: 30px;
}

.btn1 a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .3s ease-in-out;  
  backdrop-filter: blur(15px)
}

.btn1:hover a {
  letter-spacing: 3px;
}

.btn1 a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: 
    linear-gradient(to left, rgba(255, 255, 255, .15), transparent);
  transform: skewX(40deg) translateX(0);
  transition: all .5s ease-out;
}

.btn1:hover a::before {
  transform: skewX(40deg) translateX(200%);
}

.btn1::before,
.btn1::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 10px;
  border-radius: 10px;
  background: #2bd2ff;
  transition: all .4s ease-in-out;
  transition-delay: 0s;
}

.btn1::before {  
  bottom: -5px;
}

.btn1::after {
  top: -5px;
}

.btn1:hover::before,
.btn1:hover::after{  
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: .3s;
}

.btn1:hover::before {
  bottom: 0;
}

.btn1:hover::after {
  top: 0;
}

